# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [86]:
_1 = np.random.randint(1, 4, 100)
_2 = np.random.randint(1, 3, 100)
_3 = np.random.randint(10000, 30000, 100)
series_1= pd.Series(_1)
series_2= pd.Series(_2)
series_3= pd.Series(_3)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [85]:
df = pd.concat([series_1, series_2, series_3], axis=1)
df.head(2)

   0  1      2
0  3  1  16371
1  2  1  28209

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [69]:
df.rename(columns = {0 : "bedrs", 1 : "bathrs", 2 : "price_sqr_meter"}, inplace = True)
df.head(2)

   bedrs  bathrs  price_sqr_meter
0      3       1            16863
1      1       1            19301

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [91]:
bigcolumn = pd.concat([series_1, series_2, series_3])
bigcolumn= pd.DataFrame(bigcolumn)
bigcolumn

        0
0       2
1       3
2       3
3       1
4       1
..    ...
95  28437
96  10318
97  15541
98  28048
99  11318

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
True

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [102]:
bigcolumn = pd.concat([series_1, series_2, series_3],ignore_index = True)
bigcolumn= pd.DataFrame(bigcolumn)
bigcolumn

         0
0        2
1        3
2        3
3        1
4        1
..     ...
295  28437
296  10318
297  15541
298  28048
299  11318

[300 rows x 1 columns]