In [2]:
import pandas as pd

In [5]:
type(pd.read_csv('appl_1980_2014.csv'))

pandas.core.frame.DataFrame

In [6]:
df_apple = pd.read_csv('appl_1980_2014.csv')

In [ ]:
pd.excel

In [7]:
df_apple.

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

In [8]:
'appl_1980_2014.csv'.upper()

'APPL_1980_2014.CSV'

In [9]:
'appl_1980_2014.csv'

'appl_1980_2014.csv'

In [10]:
'hola yo me llamo luis'

'hola yo me llamo luis'

In [11]:
import pandas

In [12]:
import untitled

In [13]:
untitled.saludar()

TypeError: saludar() missing 1 required positional argument: 'nombre'

In [14]:
untitled.saludar('juan')

'hola que tal juan'

In [15]:
import facturas

In [16]:
facturas.genera_facturas()

4827.77

In [17]:
import fechas.semanales

In [ ]:
fechas.semanales.genera_semana()