# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [24]:
data = {'evolution' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
       'hp' : [45, 39, 44, 45],
       'name' : ['Bulbasaur', 'Charmender', 'Squirtle', 'Caterpie'],
       'pokedex' : ['yes', 'no', 'yes', 'no'],
       'type' : ['grass', 'fire', 'water', 'bug']}
pd.DataFrame(data = data)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmender      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [29]:
pokemon = pd.DataFrame(data = data)

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [10]:
pokemon = pokemon.iloc[:, [2, 4, 1, 0, 3]]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmender   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [30]:
pokemon.insert(5, 'place', ['B', 'C', 'S', 'C'])
pokemon

    evolution  hp        name pokedex   type place
0     Ivysaur  45   Bulbasaur     yes  grass     B
1  Charmeleon  39  Charmender      no   fire     C
2   Wartortle  44    Squirtle     yes  water     S
3     Metapod  45    Caterpie      no    bug     C

### Step 6. Present the type of each column

In [35]:
pokemon.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.